body
  letter-spacing: .1px
  @include media-breakpoint-up(xl)
    font-size: 14px

*:focus
  outline: none

svg
  display: block

img
  max-width: 100%
  height: auto

a
  transition: .2s

h6,
.h6
  @include media-breakpoint-down(xl)
    font-size: 12px !important

h5,
.h5
  @include media-breakpoint-down(xl)
    font-size: 16px !important

h4,
.h4
  @include media-breakpoint-down(xl)
    font-size: 16px !important

h3,
.h3
  @include media-breakpoint-down(xl)
    font-size: 18px !important

h2,
.h2
  @include media-breakpoint-down(xl)
    font-size: 22px !important

h1,
.h1
  @include media-breakpoint-down(xl)
    font-size: 22px !important

.btn-outline
  &-primary,
  &-secondary
    color: $body-color

.btn
  &-primary:hover
    background: $secondary
    border-color: $secondary

  &-secondary:hover
    background: $primary
    border-color: $primary

.nav-link
  display: flex
  align-items: center

ul.sub-menu
  @extend .list-unstyled

.sep-primary
  height: 3px
  width: 70px
  display: inline-block
  background: $primary

.btn-line
  display: block
  position: relative
  color: $body-color
  font-weight: $font-weight-bold !important
  font-size: 12px
  text-decoration: none

  @include media-breakpoint-up(xl)
    font-size: 14px

  &:after
    content: ''
    display: block
    width: 40px
    height: 3px
    background: $primary
    margin-top: 12px

    @include media-breakpoint-up(xl)
      width: 70px

  &:hover
    color: $primary
    text-decoration: none

  &.btn-line-secondary
    &:hover
      color: $secondary
    &:after
      background: $secondary
