svg
  display: block

img
  max-width: 100%
  height: auto

.btn-outline
  &-primary,
  &-secondary
    color: $body-color

.nav-link
  display: flex


.nav-link
  display: flex
  align-items: center

ul.sub-menu
  @extend .list-unstyled