.category
  &-button
    line-height: 1.5
  &-video-img
    cursor: pointer
    &::after
      +overlay
      background: rgba(0, 156, 235, 0.6)

    i
      position: absolute
      z-index: 2
      top: 50%
      left: 50%
      transform: translate3d(-50%, -50%, 0)

    &-wrapper
      margin-top: -85px

  &-tabs
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.05)

    .nav-link
      color: #828282
      font-size: 18px
      line-height: 1.4
      +transition()

      span
        padding-bottom: 25px
        border-bottom: 4px solid transparent
      i
        margin-top: 5px
      &:hover,
      &.active
        color: #1B1F21
        i
          color: $secondary
        span
          border-color: $secondary



