extends ../index
include ../partials/breadcrumbs
include ../layouts/product-item
include ../layouts/feature


block variables
    - var pageTitle = 'Product'

block content
    + breadcrumbs(['Кухни под ключ', 'Кухня в классическом стиле'])

    .container.p-0.px-xl-3
        .swiper-container.product-slider
            .swiper-wrapper
                - for(x = 0; x < 3; x++) {
                .swiper-slide
                    .product-slider-block.bg-cover.h-100(style='background-image: url(img/product-1.png)')
                - }
            .product-slider-nav.product-slider-nav--left.d-flex.position-absolute.align-items-center.justify-content-center.flip
                svg(width='10' height='20')
                    use(href='#icon-angle')
            .product-slider-nav.product-slider-nav--right.d-flex.position-absolute.align-items-center.justify-content-center
                svg(width='10' height='20')
                    use(href='#icon-angle')

    .container
        .row.justify-content-center
            .col-12.col-xl-5.text-center.px-3.py-5.px-xl-5.bg-white.product-title-block.position-relative
                h1.h4 Кухня в классическом стиле
                .sep-primary.my-3
                p.col-xl-7.mx-auto Идеальное соотношение элегантности и функциональности
                .product-slider-pagination.d-flex.align-items-center.justify-content-center.mt-5

    + product-item()

    .container.product-description
        .row.justify-content-center
            .col-xl-10
                .row.font-weight-light.big-line-height
                    .col-xl-6
                        p Таким образом новая модель организационной деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий. Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции играет важную роль в формировании форм развития. С другой стороны дальнейшее развитие различных форм деятельности в значительной степени обуславливает создание соответствующий условий активизации.
                    .col-xl-6
                        p Таким образом консультация с широким активом позволяет выполнять важные задания по разработке форм развития. Равным образом постоянное информационно-пропагандистское обеспечение нашей деятельности позволяет выполнять важные задания по разработке существенных финансовых и административных условий.
                .row.mt-4.pt-xl-5
                    .col-xl-6.mt-3
                        a.btn.btn-primary.btn-block.btn-lg(href='#') Хочу такую кухню
                    .col-xl-6.mt-3
                        a.btn.btn-outline-primary.btn-block.btn-lg(href='#') Рассчитать стоимость моей кухни

    + feature('Безопасность для самых маленьких', 'Мамы могут быть спокойны: каждый выдвижной механизм безопасен для вашего ребёнка', 'feature-1.png', true)

    .container.product-cta-form
        include ../partials/project-design-form

    .container.product-nav
        .row
            .col-6.col-xl-auto.text-right
                a.d-flex.text-decoration-none.primary-color-on-hover.text-body.align-items-center.h6(href='#')
                    svg.flip.mr-4.text-primary(width='7' height='15')
                        use(href='#icon-angle')
                    span Вернуться к каталогу

            .col-6.col-xl-auto.ml-auto.d-flex.justify-content-end
                a.d-flex.text-decoration-none.primary-color-on-hover.text-body.align-items-center.h6(href='#')
                    span Открыть следующий проект
                    svg.ml-4.text-primary(width='7' height='15')
                        use(href='#icon-angle')