.row.project-design-form
    .col-xl-4.form-holder.position-relative
        h3.text-uppercase.medium-line-height.font-weight-bold Изготовим бесплатный <br>дизайн-проект вашей мебели
        p.h6.mt-4.mr-xl-5.pr-xl-4.line-height-170 Не нужно ждать: наши дизайнеры воплотят в жизнь все ваши пожелания!
        form.mt-5.font-weight-light.mr-xl-5.pr-xl-4
            .form-group
                input.form-control(type='text' placeholder='Ваше имя')
            .form-group
                input.form-control(type='text' placeholder='Ваш телефон')
            label.mt-2 Удобное время для связи
            .row.form-group
                .col
                    input.form-control(type='text' placeholder='Дата')
                .col
                    input.form-control(type='text' placeholder='Время')
            .form-group
                button.btn.btn-primary.btn-block(type="submit") Записаться на встречу с дизайнером
            .form-group.text-center
                p.small.px-5.mt-4 Нажимая кнопку вы подтверждаете свое согласие на обработку персональных данных
    .col-xl-8
        .bg-cover.h-100(style='background-image: url(img/form-img.jpg)')