mixin promo(title, text, img, buttonLabel='Перейти к акции')
    .row.promo-wrapper.m-0.p-0
        .col-12.col-xl-5.promo-text
            .row
                .col-12.promo-heading
                    h2.h1.mb-4.pb-xl-3!= title
                .col-12.col-xl-9
                    p.mb-5= text
                    a.btn-line.h6.font-weight-bold(href="#")= buttonLabel
        .col-12.col-xl-7.bg-cover.promo-image(style='background-image: url(img/' + img + ')')