.container.main-gap
    .row.showroom
        .col-12.col-xl-4
            h2.h1.mb-5 Приходите в один из наших выставочных салонов прямо в Хабаровске!
            p.font-weight-light.big-line-height Посмотрите лично, как выглядят фасады кухонь, различные типы столешниц, проверьте в действии механизмы открытия шкафов и оцените качество материалов на ощупь

            .row.align-items-end.mt-5.pt-xl-5
                .col-6
                    a.btn-line.btn-line-secondary(href='#') Посмотреть <br>видео-экскурсию <br>по салону
                .col-6
                    a.btn-line.btn-line-secondary(href='#') Посмотреть <br>3D-тур по салону
        .col-6.col-xl-4
            .showroom-block.position-relative.ar-4-3.bg-cover.h-100(style='background-image: url(img/kitchen.jpg)')
                .showroom-address.bg-white.px-4.py-3.position-absolute.d-flex.small
                    svg(width='11' height='16').mr-3
                        use(href='#icon-pointer')
                    span УССУРИЙСКИЙ БУЛЬВАР, 58
        .col-6.col-xl-4
            .showroom-block.position-relative.ar-4-3.bg-cover.h-100(style='background-image: url(img/kitchen.jpg)')
                .showroom-address.bg-white.px-4.py-3.position-absolute.d-flex.small
                    svg(width='11' height='16').mr-3
                        use(href='#icon-pointer')
                    span УЛ. ПАВЛА МОРОЗОВА, 113
