$blue: #009CEB
$green: #64AC2C
$light: #fff
$body-color: #1B1F21
$dark: $body-color
$secondary: $green

$theme-colors: ("black": #121415)

// reset
$input-btn-focus-box-shadow: none !important

// typography
$line-height-base: 1.65
$font-size-base: 0.8125rem
$small-font-size: 0.6875rem
$font-weight-lighter: 400
$font-weight-light: 400
$font-weight-normal: 500
$font-weight-bold: 600
$font-weight-bolder: 600
$font-family-sans-serif: 'Montserrat', sans-serif

$h1-font-size: 42px
$h2-font-size: 36px
$h3-font-size: 30px
$h4-font-size: 26px
$h5-font-size: 22px
$h6-font-size: 18px

// buttons
$input-btn-line-height: 1
$btn-border-radius: 0
$btn-border-width: 2px
$btn-padding-y: 12px
$btn-padding-x: 30px
$btn-font-size: 0.8125rem
$btn-disabled-opacity: 1

$btn-padding-y-lg: 22px
$btn-padding-x-lg: 30px
$btn-font-size-lg: 22px
$btn-line-height-lg: 1
$btn-border-radius-lg: 0

// forms
$input-transition: .2s
$input-border-radius: 0
$input-height: 50px
$input-padding-x: 1.2rem
$input-border-color: #BDBDBD

// grid
$grid-breakpoints: (xs: 0, md: 768px, xl: 1200px, xxl: 1500px)
$container-max-widths: (md: 720px, xl: 92vw, xxl: 1468px)
