.feature
  box-shadow: 0 0 0 1px inset #E0E0E0
  margin-top: 70px
  &-image
    min-height: 200px
    @include media-breakpoint-up(xl)
      min-height: 300px

  &-data
    padding: 40px 0
    @include media-breakpoint-up(xl)
      padding: 60px 0
    p
      line-height: 170% !important

    a
      margin-left: 30px
      @include media-breakpoint-up(xl)
        margin-left: 60px

    @include media-breakpoint-up(xl)
      &-text > *
        max-width: 430px
    &-text
      padding: 0 0 0 30px
      @include media-breakpoint-up(xl)
        padding: 0 0 0 60px
      border-left: 2px solid $secondary


  .row:not(.flex-xl-row-reverse)
    @include media-breakpoint-up(xl)
      a
        margin: 0
      .feature-data
        padding: 30px 0 30px 30px
        @include media-breakpoint-up(xl)
          padding: 60px 0 60px 30px
        &-text
          padding: 0 30px 0 0
          border-right: 2px solid $secondary
          border-left: 0
          @include media-breakpoint-up(xl)
            padding: 0 60px 0 0