.footer-subscription
  [type="email"]
    border-color: #4F4F4F
    color: $light
    &:focus
      border-color: #fff
  input
    height: 40px

.footer-logo
  max-width: 160px

.footer-sub
  max-width: 400px

.footer-top
  .text-muted
    color: #4F4F4F !important

.footer-bottom
  padding: 21px 0
  color: #828282
  a
    color: #828282