.product-item
  &-data
    border: 1px solid #E0E0E0
    border-right: none
    padding: 60px 80px
  &-attr
    &-name
      width: 150px
      color: #828282

    &-value
      color: #1B1F21
      &--big
        font-size: 18px
