block variables

doctype html
html(lang="en")
    head
        title=pageTitle
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
        link(rel='stylesheet', href='css/style.css')

    body
        include layouts/header.pug
        include partials/main-category
        include layouts/news-block
        include partials/promo
        include partials/breadcrumbs
        include layouts/product-item
        include layouts/feature

        main#main
            block content

        include layouts/footer.pug
            block footer
