mixin newsBlock(type, hasTitle=false, hasCategory=false)
    .container.main-gap
        .row.news-block.justify-content-center
            if hasTitle
                .col-12.col-xl-auto
                    h3.text-uppercase.font-weight-bold.m-0 Полезные статьи
                .col-12.col-xl-auto.ml-auto.order-mobile-last
                    a.btn-line.btn-line-secondary.h6(href='#') Открыть все статьи
            .row.no-gutters.mt-xl-4.pt-4.news-block-items
                - for(x = 2; x < 5; x++) {
                .col-12.col-xl-4.news-block-item.pb-5.mb-xl-0
                    a.news-block-image.bg-cover.d-block.mb-4.mb-xl-5(href='#' style='background-image: url(img/image-'+x+'.png)')
                    if hasCategory
                        a.small.text-uppercase.text-secondary.d-block.mt-xl-n3(href='#') ВСЕ О ДЕТСКИХ
                    a.news-block-title.h5.mt-4.pt-1.mt-xl-3.text-decoration-none.d-block.text-body.border-left(href='#' class={'primary-color-on-hover border-primary': type !== 'articles', 'secondary-color-on-hover border-secondary': type === 'articles'}) Экологичные материалы и забота о детях
                    if type !== 'articles'
                        p.mt-4 Европейское оборудование, производство площадью 2000 кв. м. и штат из более чем 40 сотрудников. Цена меньше - качество выше!
                    .pt-xl-4
                        a.btn.mt-4(href='#' class={'btn-outline-primary': type !== 'articles', 'btn-outline-secondary': type === 'articles'}) Читать подробнее
                - }

