mixin product-item(button=true)
    .product-item.mt-5
        .row.flex-xl-row-reverse
            .col-xl-6.pl-xl-0
                .bg-cover.h-100(style='background-image: url(img/product-1.png)')
            .col-xl-6.pr-xl-0
                .product-item-data
                    h4 Кухня в классическом стиле
                    h3.text-primary.d-flex.align-items-center
                        span.pr-1.font-weight-bold 215 000
                        svg(width='15' height='22').product-item-data-rub-symbol
                            use(href='#icon-ruble' xlink:href='#icon-ruble')
                    .product-item-attr.pt-4
                        .row.mb-2.pb-1
                            .col-auto.product-item-attr-name Адрес
                            .col.product-item-attr-value.product-item-attr-value--big ул. Беломорская, 67
                        .row.mb-2.pb-1
                            .col-auto.product-item-attr-name Размеры
                            .col.product-item-attr-value.product-item-attr-value--big 2,75 x 2,5 м
                        .row.mb-2.pb-1.mt-4
                            .col-auto.product-item-attr-name Фасады
                            .col.product-item-attr-value.font-weight-light МДФ эмаль глянец / ЛДСП
                        .row.mb-2.pb-1
                            .col-auto.product-item-attr-name Столешница
                            .col.product-item-attr-value.font-weight-light Акриловый камень Staron
                        .row.mb-2.pb-1
                            .col-auto.product-item-attr-name Фурнитура
                            .col.product-item-attr-value.font-weight-light Grass, Австралия
                    if button
                        a.btn-line.btn-line-primary.h6.mt-5(href='#') Подробнее о кухне